@keyframes fadeIn {
  from {
      opacity: 0;
  } to {
      opacity: 1;
  }
}

footer {
  position: fixed;
  margin: auto 0;
  bottom: 10px;
  width: 100%;
}

section > h4 {
  margin-top: 15px;
  color: rgb(62, 54, 54);
  background-color: #fff;
  border-bottom: outset 3px #000;
  /* text-shadow: 3px 2px 7px rgba(44, 44, 44, 0.5); */
  font-weight: 900;
}

.fa-file-csv {
  color: #0e3923;
}

.category {
  margin: 10px 0;
  width: auto;
  text-align: center;
  border-radius: 15px;
}

img {
  max-width: 100px;
}

video {
  /* position: absolute; */
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
  animation: fadeIn 1s ease-in-out;
}


body {
  background-color: #000;
  /* color: #fff; */
  text-align: center;
  position: relative;
  display: contents;
  font-family: 'Markazi Text', serif;
  animation: fadeIn 1s linear;

  /* height: 100%; */

}

/* Boxes */
.main-box {
  padding: 50px;
  position: absolute;
  display: inline-block;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 30%;
  left: 15%;
  width: 600px;
  height: 400px;
  animation: fadeIn 1s ease-in-out;
}

.main-box button {
  position: absolute;
  margin: auto;
  right: 41%;
  bottom: 30px;
}

input {
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

input[placeholder] {
  text-align-last: center;
  letter-spacing: 3px;
}

button {
  background-color: #fff;
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 3px 5px 3px rgba(44, 44, 44, 0.8);
  font-family: 'Markazi Text', serif;
}

.search-term {
  color: #fff;
}

.sub-box {
  width: 600px;
  height: 400px;
  padding: 50px;
  position: absolute;
  display: inline-block;
  border-radius: 30px;
  height: auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  top: 30%;
  right: 15%;
  overflow: auto;
  animation: fadeIn 1s ease-in-out;
}

.sub-box button {
  position: absolute;
  margin: auto;
  right: 40%;
  bottom: 30px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 3rem;
  color: #fff;
  text-shadow: 3px 5px 3px rgba(44, 44, 44, 0.8);
  font-family: 'Markazi Text', serif;
  font-weight: 700;
}

.search {
  color:#0f1115;
  font-weight:700;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:0;
  font-size:1.5em;
  padding:.5em;
  outline:none;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-align:center;
  background:0 0;
  color:#fff;
  border-bottom:2px solid #fff;
  text-align:left;color:#0f1115;
  background:#fff;
  border-radius:3px;
  box-shadow:1px 2px 4px rgba(0,0,0,.1);
  padding-left:2.5em;
  background-image:url(/assets/search-black.png);
  background-repeat:no-repeat;
  background-size:1em;
  background-position:.75em center;
  width:350px;
  max-width:80vw
}

li {
  text-align: left;
  font-size: 2rem;
}

.hiding {
  display: none;
}

.del-btn-size {
  font-size: 1rem;
}

/* Report */
body.report {
  z-index: -2;
  color: #000;
  background-color: black;
}

.black {
  background-color: #000;
}

/* .result {
  line-height: 1;
  height: 1000px;
} */

/* div.result  h1, h2, h3, h4, a {
  color: #fff;
  position: relative;
  top: 300px;
} */

header.result {
  z-index: 1;
  position: fixed;
  height: 95px;
  background-color: #000;
}

nav > a {
  position: absolute;
  top: 0;
}

h4.search-term {
  position: relative;
  top: 0;
}

.result h2 {
  color: #d92027;
  display: inline-flex;
}

.card {
  /* left: 10%; */
  top: 130px;
  position: relative;
  display: inline-block;
  /* grid-template-columns: repeat(1, 1fr); */
  /* display: block; */
  width: 40%;
  font-size: 2rem;
  text-align: start;
  background-color: #fff;
  border-radius: 10px;
  padding: 2%;
  margin: auto 20px 30px;
  height: 900px;
  overflow: auto;
}

div.term {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  border-radius: 20px;
  padding: 10px;
  background-color: #ff9595;
}

/* div.result h1, h2, h3, h4, a {
  color: #000;
  position: relative;
  top: 0;
} */

.term > h3 {
  color: #fff;
}

section {
  position: relative;
  display: grid;
  /* grid-row: 10px; */
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.company {
  /* display: inline-block;
  margin-top: 15px; */
  width: 50px;
  height: 50px;
  background-size: contain;
  background-color: #fff;
  background-position: center center;
  border-radius: 50%;
  background-repeat: no-repeat;
  /* left: -35px; */
  /* position: absolute; */
  border: 0.1px solid #212529;
}

.result-span {
  max-width: 200px;
  height: auto;
  border-bottom: solid 1px #ee9921;
}


.sub-menu h3 {
  color: azure;
  /* color: rgb(145, 98, 255); */
  display: inline-block;
  vertical-align: middle;

}


.sub-menu {
  position: relative;
  bottom: 12px;
}

/* MediaQuery */
@media (max-width: 1950px) {
  .card {
    display: block;
    width: 75%;
    margin: auto auto 40px;
  }
}


@media (max-width: 1800px) {
  h1 {
    font-size: 3rem;
  }

  .main-box {
    width: 450px;
    height: 350px;
    padding: 40px;
    position: absolute;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    top: 30%;
    left: 15%;
    overflow: auto;
    animation: fadeIn 1s ease-in-out;
  }

  .main-box button {
    position: absolute;
    margin: auto;
    right: 35%;
    bottom: 20px;
  }

  input {
    margin-bottom: 5px;
  }
  
  input[placeholder] {
    letter-spacing: 3px;
  }

  .sub-box {
    width: 450px;
    height: 350px;
    padding: 40px;
    position: absolute;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    top: 30%;
    right: 15%;
    overflow: auto;
    animation: fadeIn 1s ease-in-out;
  }

  .sub-box button {
    position: absolute;
    margin: auto;
    right: 35%;
    bottom: 20px;
  }

}

@media (max-width: 1300px) {
  body {
    text-align: center;
  }
  .container {
    text-align: center;
    vertical-align: middle;
  }

  .card {
    width: 75%;
    display: block;
  }

  h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }

  input {
    height: 20px;
  }

  .main-box {
    width: 350px;
    height: 250px;
    padding: 35px;
    position: static;
    display: block;
    border-radius: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    top: 30%;
    left: 15%;
    margin: 90px auto 30px;
    overflow: auto;
    animation: fadeIn 1s ease-in-out;
  }

  .main-box button {
    position: relative;
    right: 0;
    bottom: 0;
  }

  .sub-box {
    width: 350px;
    height: 250px;
    padding: 35px;
    position: static;
    display: block;
    border-radius: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    top: 30%;
    right: 15%;
    margin: 90px auto;
    overflow: auto;
    animation: fadeIn 1s ease-in-out;
  }
  .sub-box button {
    position: relative;
    right: 0;
    bottom: 0;
  }

}

@media (max-width: 1250px) {
  body {
    text-align: center;
  }
  .container {
    text-align: center;
    vertical-align: middle;
  }

  .result-span {
    font-size: 1rem;
    max-width: 100px;
  }

  img {
    max-width: 60px;
  }

  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  .main-box {
    display: block;
    position: static;
    left: 0;
    right: 0;
    height: 300px;
    margin: 90px auto 30px;
  }

  .sub-box {
    display: block;
    position: static;
    left: 0;
    right: 0;
    height: auto;
    /* height: 300px; */
    margin: 90px auto;
    overflow: visible;
  }
}