{% include "header.html" %}

<body class="report">
  <header class="result navbar fixed-top">
    <h1><a id="logo-a" href="/" style="color: #fff;">Remote Jobs</a></h1>
    <h2>
      {% for term in terms_list %}
        <p>[{{term.total}}&nbsp;{{term.term}}]&nbsp;</p>
      {% endfor %}&nbsp;jobs found.
    </h2>
  </header>
  <main>

    {% for each_term in terms_list %}
    <div class="card" data-effect="zoom">
      <div class="term" style="background-color: {{each_term.color}}">
        <div class="sub-menu navbar">
          <h3>{{each_term["term"]}}</h3>
          {% if "+" in each_term['term'] %}
            <a href="/export?term={{each_term['sub_term_for_plus']}}">
              <i class="fas fa-file-csv"></i>
            </a>
          {% else %}
            <a href="/export?term={{each_term['term']}}">
              <i class="fas fa-file-csv"></i>
            </a>
          {% endif %}
        </div>
        <h5 class="category" style="background-color: {{each_term.color}}">Wework Remotely</h5>
        <section>
          <h4>Logo</h4>
          <h4>Title</h4>
          <h4>Company</h4>
          <h4>Link</h4>
          {% for job in each_term["wework"] %}
            {% if job.avatar %}
            <span class="result-span"><img class="company-logo" src="{{job.avatar}}"></span>
            {% else %}
            <span class="result-span"><p>No logo</p></span>
            {% endif %}
            <span class="result-span"><p>{{job.title}}</p></span>
            <span class="result-span"><p>{{job.company}}</p></span>
            <span class="result-span"><p><a class="btn btn-danger" href="{{job.link}}" target="_blank">Apply</a></p></span>
          {% endfor %}
        </section>
        <h5 class="category" style="background-color: {{each_term.color}}">Stack Overflow</h5>
        <section>
          <h4>Logo</h4>
          <h4>Title</h4>
          <h4>Company</h4>
          <h4>Link</h4>
          {% for job in each_term["stack"] %}
            {% if job.avatar %}
            <span class="result-span"><img class="company-logo" src="{{job.avatar}}"></span>
            {% else %}
            <span class="result-span"><p>No logo</p></span>
            {% endif %}
            <span class="result-span"><p>{{job.title}}</p></span>
            <span class="result-span"><p>{{job.company}}</p></span>
            <span class="result-span"><p><a class="btn btn-danger" href="{{job.link}}" target="_blank">Apply</a></p></span>
          {% endfor %}
        </section>
        <h5 class="category" style="background-color: {{each_term.color}}">RemoteOK</h5>
        <section>
          <h4>Logo</h4>
          <h4>Title</h4>
          <h4>Company</h4>
          <h4>Link</h4>
          {% for job in each_term["remote"] %}
            {% if job.avatar %}
            <span class="result-span"><img class="company-logo" src="{{job.avatar}}"></span>
            {% else %}
            <span class="result-span"><p>No logo</p></span>
            {% endif %}
            <span class="result-span"><p>{{job.title}}</p></span>
            <span class="result-span"><p>{{job.company}}</p></span>
            <span class="result-span"><p><a class="btn btn-danger" href="{{job.link}}" target="_blank">Apply</a></p></span>
          {% endfor %}
        </section>

      </div>
    </div>  
    {% endfor %}
  </main>
  {% include "footer.html" %}